{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% block content %}
    {{ form.non_field_errors | safe }}
    <div class="registration-wrapper">
        
            <div class="registration-container">
                <input type="hidden" name="remember" value="true" />
                <form method="post" action="/accounts/logout/">
                {% csrf_token %}
                    <div class="registration-item">
                        <p>Уже уходите?</p>
                    </div>
                    <button type="submit">Выйти из аккаунта</button>
                    <div class="registration-item">
                        <p>''Ну ты это, заходи если что.''</p>
                        <a href="{% url 'advertisements' %}">К объявлениям</a>
                    </div>
                </form>
            </div>
    </div>

{% endblock content %}