{% load static %}
{% load allauth account %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<div class="registration-wrapper">
    <div class="registration-container">
        {% block content %}
        <div class="registration-item">
            {% element h1 %}
                Change Password
            {% endelement %}
        </div>
            {% url 'account_change_password' as action_url %}
            {% element form form=form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    <div class="registration-item" style="flex-direction: column; justify-content: space-between;">
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    </div>
                {% endslot %}
                {% slot actions %}
                    <div class="registration-item">
                    {% element button type="submit" %}
                        Change Password
                    {% endelement %}
                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                {% endslot %}
            {% endelement %}
        {% endblock content %}
    </div>
</div>

