{% extends 'default.html' %}
{% load static %}

{% static 'js/main.js' %}
{% load custom_tags %}

{% block content %}
<div class="advertisements container">
    <div class="adverisements-user_top">
        <h1 class="user-top_header">Участники</h1>
        
        <div class="chat-user_container">
            {% for user in chat.users.all %}
                <a href="{% url 'profile' pk=user.author.id %}">
                    <div class="chat-user">
                        <p class="accepted-user_name" >{{user.username}}</p>
                    </div>
                </a>
            {% endfor %}   
        </div> 
    </div>
    <div class="content-wrapper">
        {% if chat.advertisement_id != 0 %}
        <p><a href="{% url 'advertisement' pk=chat.advertisement_id %}">Объявление: {{chat.chat_name}}</a></p>
        {% else %}
        <p>Объявление: {{chat.chat_name}}</p>
        {% endif %}
        <div class="chat-container">
            {% for message in chat.messages.all %}
                {% if message.user == request.user %}
                {{message.user}}
                {{message.created_at|date:'D  H:i'}}
                <div class="chat-message my-message">
                    <p class="chat-message_text">{{message.message}}</p>
                    <img src="{{ request.user.author.profile_photo.url }}" alt="" width="50px" height="50px">
                </div>
                {% else %}
                {{message.user}}
                {{message.created_at|date:'D  H:i'}}
                <div class="chat-message other-message">
                    <p class="chat-message_text">{{message.message}}</p>
                    <img src="{{ message.user.author.profile_photo.url }}" alt=""  width="50px" height="50px">
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="chat-message_container">
            <form method="POST" style="display: flex; width: 100%;">
                {% csrf_token %}
                {{form.message}}
                <button class="advertisement-button" type="submit" style="height: 100%;">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}